{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "jsxBracketSameLine": true,
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "parser": "flow"
            }
        }
    ]
}
